<%= form_for(tarea) do |f| %>
  <% if tarea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tarea.errors.count, "error") %> prohibited this tarea from being saved:</h2>

      <ul>
      <% tarea.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titulo %>
    <%= f.text_field :titulo %>
  </div>

  <div class="field">
    <%= f.label :duracion %>
    <%= f.number_field :duracion %>
  </div>

  <div class="field">
    <%= f.label :lugar %>
    <%= f.text_field :lugar %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
